.container1{
    border: solid 1px black;
    border-radius: 100px;
    width: auto;
    padding: 3px;
}
#button11{
    border-radius: 50px;
    background: #F57C51;
    color: #ffffff;
    margin-right: 5px;
    transition: 0.5s;
}
#button21{
    border-radius: 50px;
    background: #F57C51;
    color: #F57C51;
    transition: 0.5s;
    background: transparent;

}
.movielistscroll::-webkit-scrollbar{
    width: 1px;
    height: 8px;
  }
  .movielistscroll::-webkit-scrollbar-thumb{
    background: #F57C51;
    border-radius: 5px;
  }
  /* ::-webkit-scrollbar{
    width: 1px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb{
  } */